/* Login Page */
.login-page {
  background-image: url("../../Assets/bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px;
  width: 400px;
}
.login-form-button {
  width: 100%;
  background-color: blue;
}
