.header_logo {
  position: relative;
  width: 100px;
  height: 200px;
  margin-left: 100px;
}

.logo_left,
.logo_right {
  position: absolute;

  left: 0;

  transition: transform 0.3s ease;
}

.logo_right {
  z-index: -1;
}

.header_logo:hover .logo_left {
  transform: translateX(50%);
}

.header_logo:hover .logo_right {
  transform: translateX(-50%);
}
.logo_center {
  position: absolute;
  left: 10%; /* Chỉnh giá trị left để đưa logo_center về giữa hai hình ảnh */
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header_logo:hover .logo_center {
  opacity: 1;
}
